<header class="text-center">
    <h1>Welcome to Doge's Shop</h1>
    <p>Much Wow!</p>
    {{> images/dogeshopkeep }}
</header>

<table class="table table-bordered text-center">
    <tbody>
      <tr>
        <td>Items:</td>
        {{#each items as |item|}}
          <td><img class="" width="48" height="48" src="{{item.imgLocation}}"></td>
        {{/each}}
      </tr>
      <tr>
        <td>Coins:</td>
        {{#each items as |item|}}
        <td><button class="btn btn-primary" form="item{{@index}}" type="submit">{{item.price}} <span class="glyphicon glyphicon-ruble"></span></button></td>
        <form id="item{{@index}}" method="post" action="/shop/buy/{{item.id}}">
            <input type="hidden" name="price" value={{item.price}}>
        </form>
        {{/each}}
      </tr>
    </tbody>
  </table>
